<!-- CONTACT -->
<section id="contact">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-12">
                  
                   <form id="contact-form" role="form" action="" method="post" [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
                        <div class="section-title">
                             <h2>Contact us <small>we love conversations. let us talk!</small></h2>
                        </div>

                        <div class="col-md-12 col-sm-12">
                             <input type="text" class="form-control" name="Fullname" placeholder="Enter full name" formControlName="Fullname">

                             <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email address" formControlName="Email" required="">

                             <textarea class="form-control" rows="6" placeholder="Tell us about your message" formControlName="Comment" name="Comment"></textarea>
                        </div>

                        <div class="col-md-4 col-sm-12">
                             <input type="submit" class="form-control" name="send message" value="Send Message" [disabled]="!FormData.valid">
                        </div>

                   </form>
              </div>

              <div class="col-md-6 col-sm-12">
                   <div class="contact-image">
                        <img src="assets/images/contact-image.jpg" class="img-responsive" alt="Smiling Two Girls">
                   </div>
              </div>

         </div>
    </div>
</section>  



