<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>

              <!-- lOGO TEXT HERE -->
              <a routerLink='' class="navbar-brand" ><img class="UTSIcon" src="assets/images/CourseREC.png"> </a>
              
         </div>

         <!-- MENU LINKS -->
         <div class="collapse navbar-collapse">
           

              <ul class="NavbarAligned nav navbar-nav navbar-nav-first ">
                   <li class=""><a routerLink='' class="smoothScroll">Home</a></li>
                  
                    <li class=""><a routerLink='course/courseRecommendations' class="smoothScroll">Recommendation</a></li>

                    <li class=""><a routerLink='userInterests' class="smoothScroll">User Interests</a></li>

                    <li class="dropdown">
                        <a class="smoothScroll dropbtn">Course Areas</a>
                        <div class="dropdown-content">
                            <a href="https://www.uts.edu.au/about/faculties/overview" target="_blank">Faculties List</a>
                            <a href='https://www.handbook.uts.edu.au/directory/courses.html' target="_blank">Course List</a>
                          </div>
                    </li>
               
                    

                    <li class=""><a href="http://canvas.uts.edu.au/" target="_blank" class="smoothScroll">UTS Canvas</a></li>
                   
              </ul>

              <ul class="NavbarAligned nav navbar-nav navbar-right">
                <li><a routerLink='accounts/login' class="smoothScroll" *ngIf="!isUserLoggedIn">UTS Login</a></li>
                <li><a routerLink='userPage' class="smoothScroll" *ngIf="isUserLoggedIn"><i class="fa fa-user"></i>Account</a></li>
                <li><a routerLink='contactUs' class="smoothScroll"><i class="fa fa-phone"></i>Contact Us</a></li>
                <li><a class="smoothScroll" *ngIf="isUserLoggedIn" (click)="clickMethod('name')">Sign out</a></li>
              </ul>

              


         </div>
    </div>
</section>
