<header>
     <title>UTS Course Rec - Home</title>
</header>

<!-- HOME -->
<section id="home">
     <div class="row">

          <div class=" owl-theme home-slider">
               <div class="item item-third">
                    <div class="caption">
                         <div class="container">
                              <div class="col-md-6 col-sm-12">
                                   <h1>Find your Perfect Course.</h1>
                                   <h3>Our online courses are built in partnership with technology leaders and are
                                        designed to meet industry demands.</h3>
                                   <a routerLink="accounts/login"
                                        class="section-btn btn btn-default smoothScroll">Try it out!</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

<!-- FEATURE -->
<section id="feature">
     <div class="container">
          <div class="row">

               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>01</span>
                         <h3>Sign in to CourseREC</h3>
                         <p>Use your UTS ID and login to UTS CourseREC</p>
                    </div>
               </div>

               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>02</span>
                         <h3>Tell us Your Interests</h3>
                         <p>Answer a few questions and tell us what you are interested in</p>
                    </div>
               </div>

               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>03</span>
                         <h3>See Your Subjects!</h3>
                         <p>We will generate the recommended subjects for you to review</p>
                    </div>
               </div>

          </div>
     </div>
</section>



<script src="assets/js/custom.js"></script>