<header>
     <title>UTS Course Rec - Home</title>
</header>

<!-- HOME -->
<section id="home">
     <div class="row">

          <div class=" owl-theme home-slider">
               <div class="item item-third">
                    <div class="caption">
                         <div class="container">
                              <div class="col-md-6 col-sm-12">
                                   <h1>Find your Perfect Course.</h1>
                                   <h3>Our online courses are built in partnership with technology leaders and are
                                        designed to meet industry demands.</h3>
                                   <a routerLink="accounts/login"
                                        class="section-btn btn btn-default smoothScroll">Sign in</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

<!-- FEATURE -->
<section id="feature">
     <div class="container">
          <div class="row">

               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>01</span>
                         <h3>Trending Courses</h3>
                         <p>Known is free education HTML Bootstrap Template. You can download and use this for your
                              website.</p>
                    </div>
               </div>

               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>02</span>
                         <h3>Books & Library</h3>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore et
                              dolore magna.</p>
                    </div>
               </div>

               <div class="col-md-4 col-sm-4">
                    <div class="feature-thumb">
                         <span>03</span>
                         <h3>Certified Teachers</h3>
                         <p>templatemo provides a wide variety of free Bootstrap Templates for you. Please tell your
                              friends about us. Thank you.</p>
                    </div>
               </div>

          </div>
     </div>
</section>



<script src="assets/js/custom.js"></script>