<header>
    <title>UTS Course Rec - User Interests</title>
</header>
<section *ngIf="!show">
    <div class="container">
        <h2 class="InterestsHeaders">Making your course recommendation</h2>
        <p class="small text-muted font-italic mb-4 centreText">Simply complete the questionnaire and our system will calculate suitable subjects for you</p>
        
        <button (click)="toggle()" id="bt" class="submit-btn form-control SubmitButton">
            {{buttonName}}
        </button>

        <p class="small text-muted font-italic mb-4 centreText">Estimated Time to complete: 1 - 3 minutes</p>
    </div>
</section>




<section  [@userInterestState]="stateName">
    <div class="container" id="formcontainer">
        <form>
            <div class="row">
                <div class="mx-auto">

                    <div class="card shadow border-0 mb-5">
                        <div class="card-body p-5">
                            <h2 class="h4 mb-1">1. What kind of assessment types do you enjoy?</h2>
                            <p class="small text-muted font-italic mb-4">Multiple selections allowed</p>
                            <ul class="list-group" style="width:50%; float:left">
                                    <li class="list-group-item" for="{{i}}" *ngFor="let item of itemsLeft;let i =index">
                                        <div class = "card" id="cardtest">
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" id="{{i}}" [value]="item" (change)="onChangeCategory($event, item)"/>
                                                <label class="custom-control-label" for="customCheck1">{{item.assessment}}</label>
                                            </div>
                                        </div>
                                    </li>
                            </ul>
                            <ul class="list-group" style="width:50%; float:right">
                                <li class="list-group-item" for="{{i}}" *ngFor="let item of itemsRight;let i =index">
                                    <div class = "card" id="cardtest">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="{{i}}" [value]="item" (change)="onChangeCategory($event, item)"/>
                                            <label class="custom-control-label" for="customCheck1">{{item.assessment}}</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" style="height:50px" >
                                    <div class = "card" id="cardtest"></div>
                                </li>
                        </ul>
                        </div>
                    </div>
                    
                    <hr>
                    <div class="card shadow border-0 mb-5">
                        <div class="card-body p-5">
                            <h2 class="h4 mb-1">2. Do you enjoy working in a group?</h2>
                            <p class="small text-muted font-italic mb-4"></p>
                            <ul class="list-group list-group-horizontal-xl mx-auto">
                                <li class="list-group-item rounded-0">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault3">
                                        <label class="custom-control-label" for="customCheck1">Yes, I enjoy working in a group</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault3">
                                        <label class="custom-control-label" for="customCheck2">No, I perfer to work alone</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="example-container">
                        <h2 class="h4 mb-1">3. Select your interests</h2>
                        
                            <h2 class="InterestsHeaders-alt">Available Keywords</h2>
                            <p class="small text-muted font-italic mb-4 centreText">Drag your keywords to the bottom box to select your interests</p>

                            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of todo" cdkDrag>
                                    {{item}}
                                </div>
                            </div>
                            <button class="btn btn-danger resetButton"  (click)="clickMethod('name')"> Refresh Keywords</button>
                            
                            
                        </div>
                    
                        <div class="example-container">
                            <h2 class="InterestsHeaders">Selected Keywords</h2>
                            <p class="small text-muted font-italic mb-4 centreText">These are your selected keywords</p>
                            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]" class="example-list-chosen" (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of done" cdkDrag>
                                    {{item}}
                                </div>
                            </div>
                        </div>          
                    </div>
                    <hr>
                    <button class="submit-btn form-control SubmitButton" id="form-submit">Submit Interests</button>
                    <p class="small text-muted font-italic mb-4 centreText">Ensure all questions have been answered</p>
            </div>
        </form>
    </div>
    
    
</section>

  

<script type="text/javascript">
    function unhide(clickedButton, divID) {
    var item = document.getElementById(divID);
    if (item) {
        if(item.className=='hidden'){
            item.className = 'unhidden' ;
            clickedButton.value = 'hide'
        }else{
            item.className = 'hidden';
            clickedButton.value = 'unhide'
        }
    }}
</script>

