<header>
    <title>UTS Course Rec - User Interests</title>
</header>

<section>
    <div class="container" id="formcontainer">
        <form>
            <div class="row">
                <div class="mx-auto">
                    <div class="card shadow border-0 mb-5">
                        <div class="card-body p-5">
                            <h2 class="h4 mb-1">What kind of assessment types do you enjoy?</h2>
                            <p class="small text-muted font-italic mb-4">Multiple selections allowed</p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck1" type="checkbox">
                                        <label class="custom-control-label" for="customCheck1">Projects</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck2" type="checkbox">
                                        <label class="custom-control-label" for="customCheck2">Laboratory/Practical</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck3" type="checkbox">
                                        <label class="custom-control-label" for="customCheck3">Quiz/Test</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck4" type="checkbox">
                                        <label class="custom-control-label" for="customCheck4">Examination</label>
                                    </div>
                                </li>
                                <li class="list-group-item rounded-0">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck5" type="checkbox">
                                        <label class="custom-control-label" for="customCheck5">Report</label>
                                    </div>
                                </li>
                                <li class="list-group-item rounded-0">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck6" type="checkbox">
                                        <label class="custom-control-label" for="customCheck6">Excerises</label>
                                    </div>
                                </li>
                                <li class="list-group-item rounded-0">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck7" type="checkbox">
                                        <label class="custom-control-label" for="customCheck7">Case Study</label>
                                    </div>
                                </li>
                                <li class="list-group-item rounded-0">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck8" type="checkbox">
                                        <label class="custom-control-label" for="customCheck8">Presentation</label>
                                    </div>
                                </li>
                                <li class="list-group-item rounded-0">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck9" type="checkbox">
                                        <label class="custom-control-label" for="customCheck9">Demonstration</label>
                                    </div>
                                </li>
                                <li class="list-group-item rounded-0">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck10" type="checkbox">
                                        <label class="custom-control-label" for="customCheck10">Indifferent</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card shadow border-0 mb-5">
                        <div class="card-body p-5">
                            <h2 class="h4 mb-1">Do you enjoy working in a group?</h2>
                            <p class="small text-muted font-italic mb-4"></p>
                            <ul class="list-group list-group-horizontal-xl mx-auto">
                                <li class="list-group-item rounded-0">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault3">
                                        <label class="custom-control-label" for="customCheck1">Yes, I enjoy working in a group</label>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault3">
                                        <label class="custom-control-label" for="customCheck2">No, I perfer to work alone</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                    <div class="example-container">
                        <h2 class="h4 mb-1">Please Drag Your Interest Keywords Into The Selected List</h2>

                        <div
                          cdkDropList
                          #todoList="cdkDropList"
                          [cdkDropListData]="todo"
                          [cdkDropListConnectedTo]="[doneList]"
                          class="example-list"
                          (cdkDropListDropped)="drop($event)">
                          <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                        </div>
                        <button class="btn btn-success pull-right"> Refresh</button>
                      </div>
                      
                      <div class="example-container">
                        

                        <h2>Selected Keywords</h2>
                      
                        <div
                          cdkDropList
                          #doneList="cdkDropList"
                          [cdkDropListData]="done"
                          [cdkDropListConnectedTo]="[todoList]"
                          class="example-list"
                          (cdkDropListDropped)="drop($event)">
                          <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                        </div>
                      </div>
                    </div>
                    <button class="submit-btn form-control SubmitButton" id="form-submit">Submit Interests</button>
                </div>
            </div>
        </form>
    </div>
</section>

  