#formcontainer{
    width: 650px;
    margin: 0 auto;
}
.completed-subjects {
  height: 300px;
  width: 350px;
  overflow: scroll;
  background-color: #EDEDED;
  padding: 10px;
  float: left;
  scrollbar-color: lightgrey;
}

.recommended-subjects {
  height: 300px;
  width: 350px;
  overflow: scroll;
  background-color: #EDEDED;
  padding: 10px;
  float: right;
  scrollbar-color: lightgrey;
}

.column1 {
padding: 20px, 20px, 20px, 20px;
}



.custom-control-label{
  padding-left: 10px;
}

.custom-control-input{
  
}