#formcontainer{
    width: 650px;
    margin: 0 auto;
}
.completed-subjects {
  height: 300px;
  width: 350px;
  overflow: scroll;
  background-color: #EDEDED;
  padding: 10px;
  float: left;
  scrollbar-color: lightgrey;
}

.recommended-subjects {
  height: 300px;
  width: 350px;
  overflow: scroll;
  background-color: #EDEDED;
  padding: 10px;
  float: right;
  scrollbar-color: lightgrey;
}

.column1 {
padding: 20px, 20px, 20px, 20px;
}

.custom-control-label{
  padding-left: 10px;
}


.SubmitButton {
  background: transparent;
  border-radius: 50px;
  border: 1px solid black;
  color: #252020;
  width: 50%;
  height: 50px;
  margin: 30px auto;
  margin-bottom: 10px;
}

.SubmitButton:hover {
  background: #3f51b5;
  color: #ffffff;
}