<header>
    <title>UTS Course Rec - Welcome</title>
</header>

<section id="team" class="userPageSection">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Welcome {{studentDetails.fName}} {{studentDetails.sName}}</h2>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4"></div>
                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb">
                        <div class="team-info">
                            <h3></h3>
                        </div>
                        <img src="assets/images/CourseRECIcon.png" class="img-responsive utsLogo" alt="">
                        <img src="assets/images/UTSID-CourseREC.png" class="img-responsive utsID" alt="">
                        <div class="team-image">
                            <img src="assets/images/person.png" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>{{studentDetails.fName}} {{studentDetails.sName}}

                            </h3>
                            <span>Student ID: {{studentDetails.student_id}}</span><br>
                            <span>Degree ID: {{studentDetails.degree_id}}</span><br>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4"></div>
            </div>

            <hr>

            <div class="col-md-12 col-sm-12">
                <div class="section-title continueLabel">
                   <h4>Press continue to get your Course Recommendations!</h4>
                   <button class="submit-btn form-control SubmitButton" id="form-submit" routerLink="/userInterests">Continue</button>
                </div>
            </div>


        </div>
    </div>
</section>


<!-- FEATURE -->
<section id="feature">
    <div class="container">
         <div class="row">
              <div class="col-md-6 col-sm-6">
                   <div class="feature-thumb">
                        <h3>Your Course:</h3>
                        <p>{{studentDetails.courseName}}</p>
                   </div>
              </div>

              <div class="col-md-6 col-sm-6">
                   <div class="feature-thumb">
                        <h3>Degree Id:</h3>
                        <h4>{{studentDetails.degree_id}}</h4>
                   </div>
              </div>
         </div>
    </div>
</section>
<!-- 
    WELCOME PAGE
SHOW STUDENT DETAILS AND SETUP THE SESSION ID 
-->