<header>
    <title>UTS Course Rec - Welcome</title>
</header>

<section id="team">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Welcome firstname lastname<small>UTS ID: 12345678</small></h2>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="col-md-4 col-sm-4"></div>
                <div class="col-md-4 col-sm-4">
                    <div class="team-thumb">
                        <div class="team-info">
                            <h3>UTS Profile</h3>
                        </div>
                        <div class="team-image">
                            <img src="assets/images/person.png" class="img-responsive" alt="">
                        </div>
                        <div class="team-info">
                            <h3>FirstName LastName</h3>
                            <span>Course: Bachelors Degree</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4"></div>
            </div>

            <hr>

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                   <h4>Press continue to get your Course Recommendations!</h4>
                   <button class="submit-btn form-control SubmitButton" id="form-submit" routerLink="/userInterests">Continue</button>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- 
    WELCOME PAGE
SHOW STUDENT DETAILS AND SETUP THE SESSION ID 
-->