.login-form {
    background: #ffffff;
    border-radius: 100%;
    text-align: center;
    padding: 6em;
    width: 450px;
    height: 450px;
  }

.textBox{
  color:white;
}

.headerGreen{
  color:#29ca8e;
}

  .login-form h1 {
    color: #080707;
    margin: 0;
  }

  .login-form .form-control {
    background: transparent;
    border: 1px solid;
    /* border-bottom: 1px solid; */
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    margin: 10px 0;
  }

  .login-form .submit-btn {
    background: #3f51b5;
    border-radius: 50px;
    border: 0;
    color: #ffffff;
    width: 30%;
    height: 50px;
    margin: 30px auto 10px 554px;
    /* margin-bottom: 10px; */
  }

  .login-form .submit-btn:hover {
    background: #3f51b5;
    color: #ffffff;
  }
  .login-form {
    border-radius: 0;
    padding: 2em;
    max-width: 100%;
    max-height: 100%;
    width: inherit;
    height: inherit;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align:center;
  }

label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    clear: both;
    float:left;
    margin-right:15px;
}
input {
    height: 20px;
    width: 300px;
    border: 1px solid #000;
    margin-top: 10px;
    float: left;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 50px auto 50px 487px;
    border: 0;
}

.forgot-password{
    color: grey;
    font-weight: bold;
    

}

.forgot-password:hover{
  color:lightskyblue;
}
