<header>
     <title>UTS Course Rec - Login</title>
</header>
   
    <section id="about">
        <div class="container">
             <div class="row">
                <div class=" col-md-4 col-sm-12">
                    <div class="entry-form">
                         <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm.value)" action="#" method="post">
                              <h2 class="headerGreen">CourseRec Login</h2>
                              <input type="text" ngModel name="id" class="form-control textBox" placeholder="UTS Student ID" required="">

                              <input type="password" ngModel name="password" class="form-control textBox" placeholder="UTS password" required="">

                              <button class="submit-btn form-control" id="form-submit">Login</button>

                              <a class="forgot-password" href="https://www.uts.edu.au/current-students/managing-your-course/using-uts-systems/forgot-your-password#:~:text=Go%20to%20Password%20Reset%20(opens,will%20result%20in%20an%20error)" target="_blank">Forgot Password?</a>
                         </form>
                    </div>
               </div>

                  <div class="col-md-6 col-sm-12 col-md-offset-1">
                       <div class="about-info">
                            <h2>Need help finding a course?</h2>

                            <figure>
                                 <span><i class="fa fa-users"></i></span>
                                 <figcaption>
                                      <h3>Find the subjects you belong in</h3>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                 </figcaption>
                            </figure>

                            <figure>
                                 <span><i class="fa fa-certificate"></i></span>
                                 <figcaption>
                                      <h3>Do the subjects you enjoy</h3>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                 </figcaption>
                            </figure>

                            <figure>
                                 <span><i class="fa fa-bar-chart-o"></i></span>
                                 <figcaption>
                                      <h3>Complete your course</h3>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsa voluptatibus.</p>
                                 </figcaption>
                            </figure>
                       </div>
                  </div>

                 
             </div>
        </div>
   </section>
