
    <div>
        
                   <div class="login-form">
                        <form action="#" method="post">
                             <h1>Student Login</h1>
                             <fieldset>
                                <label> Student ID:</label>
                                <input type="text" name="full name" class="form-control" placeholder="ID" required="">
                                
                                <label for="Password">Password:</label>
                                <input type="password" name="password" class="form-control" placeholder="Your password" required="">
                               
                            </fieldset>
                            <button class="submit-btn form-control" id="form-submit">Sign In</button>
                            <div class="forgot-password">Forgot Password?</div>
                        </form>
                   
              </div>


    </div>
