section {
  position: relative;
  padding: 40px 0;
}

.section-title{
  text-align: center;
}

.recommendedSubjecsTitle{
  padding-left:15px;
  color:white;
}

.recommended-subjects-container {
  overflow: scroll;
  background-color: grey;
  padding-top: 15px;
  border-radius: 12px;
  float:initial;
}

#recommendedName{
  color: white;
  font-size: 15px;
  display: inline-block
}

.courses-info {
  border-top: 1px solid #f0f0f0;
  position: relative;
  clear: both;
  padding: 15px 25px;
  border-radius: 6px;
}

.courses-author img {
  display: inline-block !important;
  width: 50px;
  margin-right: 10px;
}

.courses-price span {
  background: grey;
  border-radius: 2px;
  color: #ffffff;
  width: 125px;
  display: block;
  padding: 5px 10px;
  text-align: center;

}

.courseNumLabel{
  font-size: 10px;
}

.courses-thumb {
  background: #f9f9f9;
}

.courses-thumb:hover {
  background: #29ca8e;
}

.CourseIcon:hover{
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
} 


#thumbnail:hover + #title {
	filter:invert();
}


.subjectRecommendationBlock{
  padding-bottom:12px;
}

/* ================================================= */
/* == SECTION BELOW IS FOR THE COMPLETED SUBJECTS == */
/* ================================================= */

.CompletedContainer{
  padding-bottom:50px;
  
}

.completed-subjects-container {
  overflow: scroll;
  background-color: #252020;
  padding-top: 15px;
  border-radius: 12px;
  float:initial;
}

.completedSubjectsTitle{
  padding-left:15px;
  color:white;
}
