<section id="about">
  <div class="container">
    <div class="row">

       <div class="completed-subjects">
        <p class="title1">Completed Subjects</p>
         <div>Mathematical Modelling 1</div>
         <div>Engineering Communication</div>
         <div>Applications Programming</div>
         <div>Business Requirements Modelling</div>
         <div>Mathematical Modelling 2</div>
         <div>Systems Testing and Quality Management</div>
         <div>Database Fundamentals</div>
         <div>Data Structures and Algorithms</div>
         <div>Software Engineering Studio 1A</div>
         <div>Design and Innovation Fundamentals</div>
         <div>Information System Development Methodologies</div>
      </div>

      <div class="recommended-subjects">
       <p class="title2">Recommended Subjects</p>
         <div>Mathematical Modelling 1</div>
         <div>Engineering Communication</div>
         <div>Applications Programming</div>
         <div>Business Requirements Modelling</div>
         <div>Mathematical Modelling 2</div>
         <div>Systems Testing and Quality Management</div>
         <div>Database Fundamentals</div>
         <div>Data Structures and Algorithms</div>
         <div>Software Engineering Studio 1A</div>
         <div>Design and Innovation Fundamentals</div>
         <div>Information System Development Methodologies</div>
      </div>
      
    </div>
  </div>
</section>