section {
  position: relative;
  padding: 40px 0;
}

.section-title{
  text-align: center;
}

.recommendedSubjecsTitle{
  padding-left:15px;
  color:white;
}

.recommended-subjects-container {
  overflow: visible;
  background-color: grey;
  padding-top: 15px;
  border-radius: 12px;
  float: initial;
  box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
  float: left;
}

#recommendedName{
  color: white;
  font-size: 15px;
  font-weight: normal;
  display: inline-block
}

.courses-info {
  border-top: 1px solid #f0f0f0;
  position: relative;
  clear: both;
  padding: 15px 25px;
  border-radius: 6px;
}

.courses-author img {
  display: inline-block !important;
  width: 50px;
  margin-right: 10px;
}

.courses-price span {
  background: grey;
  border-radius: 2px;
  color: #ffffff;
  width: 125px;
  display: block;
  padding: 5px 10px;
  text-align: center;

}

.courseNumLabel{
  font-size: 10px;
}

.courses-thumb {
  background: #f9f9f9;
}

.courses-thumb:hover {
  background: #29ca8e;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.courses-thumb:hover img{
  filter:invert();
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}
.CourseIcon:hover{
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
} 


#thumbnail:hover + #title {
	filter:invert();
}


.subjectRecommendationBlock{
  padding-bottom:12px;
}

/* ================================================= */
/* == SECTION BELOW IS FOR THE COMPLETED SUBJECTS == */
/* ================================================= */

.CompletedContainer{
  padding-bottom:50px;
  
}

.completed-subjects-container {
  overflow: visible;
  background-color: #252020;
  padding-top: 15px;
  border-radius: 12px;
  float:initial;
  box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
  float: left;
}

.completedSubjectsTitle{
  padding-left:15px;
  color:white;
}
