<link ref="stylesheet" href="course-recommendations.component.css">


<section>
    <div class="container" id="formcontainer" >
        <form >
        <div class="row">
            <div class="mx-auto">
                <div class="card shadow border-0 mb-5">
                    <div class="card-body p-5">
                        <h2 class="h4 mb-1">What kind of assessment types do you enjoy?</h2>
                        <p class="small text-muted font-italic mb-4">Multiple selections allowed</p>
                        <ul class="list-group">
                            <li class="list-group-item rounded-0">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck1" type="checkbox">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck1"> Projects</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck2" type="checkbox">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck2"> Laboratory/Practical</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck3" type="checkbox">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck3"> Quiz/Test</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck4" type="checkbox">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck4"> Examination</label>
                                </div>
                            </li>
                            <li class="list-group-item rounded-0">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck5" type="checkbox">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck5"> Report</label>
                                </div>
                            </li>
                            <li class="list-group-item rounded-0">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck5" type="checkbox">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck5"> Excerises</label>
                                </div>
                            </li>
                            <li class="list-group-item rounded-0">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck5" type="checkbox">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck5"> Case Study</label>
                                </div>
                            </li>
                            <li class="list-group-item rounded-0">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck5" type="checkbox">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck5"> Presentation</label>
                                </div>
                            </li>
                            <li class="list-group-item rounded-0">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck5" type="checkbox">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck5"> Demonstration</label>
                                </div>
                            </li>
                            <li class="list-group-item rounded-0">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="customCheck5" type="checkbox">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck5"> Indifferent</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card shadow border-0 mb-5">
                    <div class="card-body p-5">
                        <h2 class="h4 mb-1">Do you enjoy working in a group?</h2>
                        <p class="small text-muted font-italic mb-4"></p>
                        <ul class="list-group list-group-horizontal-xl mx-auto">
                            <li class="list-group-item rounded-0">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck6">Yes, I enjoy working in a group</label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck7">No, I perfer to work alone</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <button class="submit-btn form-control" id="form-submit">submit</button>     
            </div>
        </div>
    </form>
    </div>
</section>


