<header>
  <title>UTS Course Rec - Recommendation</title>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>UTS Course Recommendations<small>heres what we came up for you</small></h2>
      </div>

      <div class="recommended-subjects-container">
        <h2 class='recommendedSubjecsTitle'>
          Recommended Subjects <h2 id="recommendedName">for {{studentDetails.fName}} {{studentDetails.sName}}</h2>
        </h2>

        <div class="col-md-6 col-sm-6 subjectRecommendationBlock" *ngFor="let rec of RecommendationArray[0]">
          <a href="https://handbook.uts.edu.au/subjects/{{rec.subject_code}}.html" target="_blank">
            <div class="item courses-info courses-thumb">
              <div class="courses-author">
                <img src="assets/images/LaptopIcon.png" target="_blank" class="img-responsive CourseIcon" alt="">
                <div class="courses-author">
                  <span>{{rec.name}}</span>
                  <div class="courseNumLabel">Course Num: {{rec.subject_code}}</div>
                </div>
                
              </div>
            </div>
          </a>
        </div>

        <!-- <div class="col-md-6 col-sm-6 subjectRecommendationBlock">
          <a href="#" target="_blank">
            <div class="item courses-info courses-thumb">
              <div class="courses-author">
                <img src="assets/images/LaptopIcon.png" class="img-responsive CourseIcon" alt="">
                <div class="courses-author">
                  <span>Design and Innovation Fundamentals</span>
                  <div class="courseNumLabel">Course Num: 123456</div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-sm-6 subjectRecommendationBlock">
          <a href="#" target="_blank">
            <div class="item courses-info courses-thumb">
              <div class="courses-author">
                <img src="assets/images/LaptopIcon.png" class="img-responsive CourseIcon" alt="">
                <div class="courses-author">
                  <span>Software Engineering Studio 1A</span>
                  <div class="courseNumLabel">Course Num: 123456</div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-sm-6 subjectRecommendationBlock">
          <a href="#" target="_blank">
            <div class="item courses-info courses-thumb">
              <div class="courses-author">
                <img src="assets/images/LaptopIcon.png" class="img-responsive CourseIcon " alt="">
                <div class="courses-author">
                  <span>Information System Development Methodologies</span>
                  <div class="courseNumLabel">Course Num: 123456</div>
                </div>
              </div>
            </div>
          </a>
        </div> -->

      </div>
    </div>
  </div>
</section>


<div class="container CompletedContainer">
  <div class="row">
    <div class="completed-subjects-container">
      <h2 class='completedSubjectsTitle'>
        Your Completed Subjects 
      </h2>

      <div class="col-md-6 col-sm-6 subjectRecommendationBlock">
        <a href="#" target="_blank">
          <div class="item courses-info courses-thumb">
            <div class="courses-author">
              <img src="assets/images/TickIcon.png" class="img-responsive CourseIcon" alt="">
              <div class="courses-author">
                <span>Mathematics Modelling 1</span>
                <div class="courseNumLabel">Course Num: 123456</div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-sm-6 subjectRecommendationBlock">
        <a href="#">
          <div class="item courses-info courses-thumb">
            <div class="courses-author">
              <img src="assets/images/TickIcon.png" class="img-responsive CourseIcon" alt="">
              <div class="courses-author">
                <span>Physical Modelling</span>
                <div class="courseNumLabel">Course Num: 123456</div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-sm-6 subjectRecommendationBlock">
        <a href="#" target="_blank">
          <div class="item courses-info courses-thumb">
            <div class="courses-author">
              <img src="assets/images/TickIcon.png" class="img-responsive CourseIcon" alt="">
              <div class="courses-author">
                <span>Engineering Communications</span>
                <div class="courseNumLabel">Course Num: 123456</div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-sm-6 subjectRecommendationBlock">
        <a href="#" target="_blank">
          <div class="item courses-info courses-thumb">
            <div class="courses-author">
              <img src="assets/images/TickIcon.png" class="img-responsive CourseIcon" alt="">
              <div class="courses-author">
                <span>Business Requirements Modelling</span>
                <div class="courseNumLabel">Course Num: 123456</div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>