<!-- FOOTER -->
<footer id="footer">
    <div class="container">
         <div class="row">

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>University Campus</h2>
                        </div>
                        <address>
                             <p>University of Technology Sydney,<br> 15 Broadway, Ultimo NSW 2007</p>
                        </address>

                        <ul class="social-icon">
                             <li><a href="https://www.facebook.com/UTSEngage" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="http://instagram.com/utsengage" class="fa fa-twitter"></a></li>
                             <li><a href="https://www.instagram.com/utsengage/" class="fa fa-instagram"></a></li>
                        </ul>

                        <div class="copyright-text"> 
                             <p>Copyright &copy; 2021 SES2A Group 7</p>
                             
                             <p>Design: TemplateMo</p>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Contact Info</h2>
                        </div>
                        <address>
                             <p>+61 2 9514 2000</p>
                             <p><a href="mailto:youremail.co">SES2A.Group7@email.com</a></p>
                        </address>

                        <div class="footer_menu">
                             <h2>Quick Links</h2>
                             <ul>
                                  <li><a href="https://www.uts.edu.au/staff/jobs-at-uts">Career</a></li>
                                  <li><a href="https://www.uts.edu.au/about/utsweb-statements/privacy-statement">Privacy Statement</a></li>
                                  <li><a href="https://maps.uts.edu.au/map.cfm">UTS Campus</a></li>
                             </ul>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-12">
                   <div class="footer-info newsletter-form">
                        <div class="section-title">
                             <h2>Newsletter Signup</h2>
                        </div>
                        <div>
                             <div class="form-group">
                                  <form action="#" method="get">
                                       <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required="">
                                       <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                  </form>
                                  <span><sup>*</sup> Please note - we do not spam your email.</span>
                             </div>
                        </div>
                   </div>
              </div>
              
         </div>
    </div>
</footer>